.loadmap-more{
    width: 100%;
 
    &__img{
       position: relative;
       top: 10px;
       left: 15%;
       z-index: 0;
       width: 15%;
       min-width: 130px;
    }
    &__content{
        position: relative;
        padding: 1rem;
        border-radius: 150px;
        background-color: $color-g2;
        display: flex;
        justify-content: space-around;
        @include tablet{  padding: 1rem 0.5rem;}
        &-explain{
            @include mobile{ display: none; }
            @include tablet{ font-size: smaller; }
            padding: 0;
            color: white;
            &__title{ @include title4; }
            &__subtitle{ @include body2; }
        }
        &-btn{
            display: flex;
            &-item{
                margin-left: 0.5rem;
            }
          }
    }
}