.search-lecture-table-list {
  border : 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  height: 6rem;
  @include subhead3;
  overflow-y: scroll;
  text-align: center;

  &__background-container, &__loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__background-icon {
    width: 1.3958rem;
    height: 1.3958rem;
  }

  &__background-text {
    @include subhead3;
    color: $color-grey-scale4;
  }

  &__tr{                     
    display: flex;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);          
    &__column{              
        margin: 0.44rem 0;
        width:33%;
    }
    &__button {
      position: absolute;
      top: 50%;
      right: 3%;
      background-color: #35353557;
      border-radius: .2083rem;
      padding: 0.2rem 0.4rem;
      color: white;
      transform: translate(0, -50%);
      cursor: pointer;
    }
}
&__tr:last-child{border-bottom:0px}  
}