.button{
	background-color: $color-secondary;
	position: relative;
	z-index: 1;
	box-shadow: 0px 8px 10px rgba(20, 45, 84, 0.3);
	border-radius: 100px;
	color: white;
	border: 0;	
	width: 11.25rem;
	height: 2.16rem;
	font-weight: 500;
	font-size: 0.83rem;
	line-height: 1rem;	
	margin: 1.25rem;
}