.button{
	background-color: $color-secondary;
	box-shadow: 0px 8px 10px rgba(20, 45, 84, 0.3);
	border-radius: 100px;
	color: white;
	border: 0;	
	width: 540px;
	height: 104px;
	font-weight: 500;
	font-family: pretendard;
	font-size: 40px;
	line-height: 48px;	
	margin: 60px;
}