.pie-chart {
  --w: 4.25rem;
  width: var(--w);
  
  aspect-ratio: 1;
  display: inline-grid;
  place-content: center;
  position: relative;
  
  @include title3;
  z-index: 1;
  animation: p 1s .5s both;
  background-color: $color-g1;
  border-radius: 50%;
  // -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--border)),#000 calc(100% - var(--border)));
  // mask:radial-gradient(farthest-side,#0000 calc(99% - var(--border)),#000 calc(100% - var(--border)));

  &__percentage-text {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    background: white;
    width: calc(99% - 2 * var(--border));
    height: calc(99% - 2 * var(--border));
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: radial-gradient(farthest-side,var(--main-color) 98%,#0000) top/var(--border) var(--border) no-repeat, conic-gradient(var(--main-color) calc(var(--percentage)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--border)),#000 calc(100% - var(--border)));
    mask:radial-gradient(farthest-side,#0000 calc(99% - var(--border)),#000 calc(100% - var(--border)));
  }

  &:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: calc(50% - var(--border)/2);
    background: var(--main-color);
    transform: rotate(calc(var(--percentage)*3.6deg)) translateY(calc(50% - var(--w)/2));
  }
}

@property --percentage{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

@keyframes p {
  from {--percentage:0}
}