.modal-result-header{
    display: flex;      
    justify-content: space-between;
    @include mobile{ 
        padding: 1rem !important;  
     }
    &__title{
        &__part{           
            @include title;
            display: flex;
            color : $color-title;
        }
        &__explain{
            display: flex;
            @include subhead5;
            color : $color-grey-scale4;
            margin-top: 0.5rem;
            &__text{
                color: $color-grey-scale1;
            }
            &__toggle{                
                font-size: smaller;
                color: $color-grey-scale1;
                margin-left: 1rem;
            }
        }
    }
    &__credit{            
        &__info{
            color: $color-title;
            @include title;
        }
        &__info > span{
            color: $color-point_blue;
        }
        &__underline{
            border: 0.16rem solid $color-point_blue;
            background-color: $color-point_blue;
            transform: rotate(180deg);
            margin-top: 0.5rem;
            width: 1.85rem;
            border-radius: 20px;    
            float: right;
        }
    }
 
}