.modal-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__loading-img {
    width: 2.1rem;
    animation: rotate_image 6s linear infinite;
    transform-origin: 50% 50%;
  }

  &__content {
    @include subhead4;
    margin-top: 0.7rem;
  }
 
  @include mobile{ 
    padding: 2rem ;  
 }
}

@keyframes rotate_image{
  100% {
      transform: rotate(360deg);
  }
}
