.sign-in-page {

  &__body {   
    display: flex;
    justify-content: center;

     &__img-container{
      width: 11.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
     }

     &__img {
      width: 95%;
     }
    &__content {
      padding: 1rem;
      width: 13.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__content {
    @include mobile {
      flex-direction: column-reverse;
      align-items: center;
      width: 80%;
    }
    display: flex;
    position: relative;
    top: -3.9792rem;
   // width: 35.2708rem;
    z-index: 10;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
  }
}
  

