.loadmap-sort{
    &__title{
        @include title5;
    }
    &__list{
        display: flex;
        max-width: 26rem;
        margin: auto;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}