.find-id-form{
    &__header {
      margin-bottom: 1.5rem; 
    }
  
    &__body {
      padding: 0 0.6rem;
      &__content{
        text-align: center;
        margin: 3rem 0;
  
        &-explain{
        @include subhead5;
        margin-bottom: 0.5625rem;
        }
        &-value{ 
        margin: auto;
        border-radius: .625rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @include subhead4; 
        color: $color-point_blue;
        width: 16rem;
        height: 2.5rem;
        background-color: $color-g1;
        }
      }
    }
  
    &__studentId-input-group-container {
      margin: 2rem auto;
      width: 11.3rem;
    }
  
    &__button-container {
      display: flex;
      justify-content: center;
      margin-bottom : 0.75rem ;
    }
    &__button-between {
       width: 0.6rem;
    }
   
  }