.GNB {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-primary;
  height: 100px;
  padding: 0 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  
  &__tab-navigator {
    @include subhead3;
    color: white;
  }
}