.GNB {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-primary;
  height: 2.1rem;
  padding: 0 1.25rem;

  &__main-logo {
    width: 5rem;
    height: 2.41rem;
  }
  
  &__tab-navigator {
    @include subhead3;
    color: white;
  }

  &__divider {
    position: relative;
    z-index: 1000;
    height: 0.02rem;
    background-color: $color-grey-scale3;
  }
}