.result-page {
  &__header {
    background-color: $color-primary;
    height: 7.1rem;
    position: relative;
  }

  &__summary {
    margin-bottom: 1.45rem;
  }

  &__loading-container {
    height: 50vh;
    display: flex;
    align-items: center;
  }

  &__body {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__content {   
    border-radius: 0.39rem;
    position: relative;
    width: fit-content;
    top: -2rem;
    z-index: 10;
    background-color: white;
  }
  &__category-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.8rem;
    grid-row-gap: 0.8rem;
    @include mobile{         
      grid-column-gap: 0;
      overflow-x: hidden;
    }
  }
}