.input-group {

  &__label {
    @include subhead5;
    color: $color-point_blue;
    display: flex;
    flex-direction: column;
  }
  &__error-message{
    color: $color-error;
    height: 0.3rem !important;
    @include body2;
  }
  &__text, &__select, &__password {
    box-sizing: border-box;
    height: 1.25rem;
    @include subhead3;
    padding: 0.25rem;
    margin: .1667rem 0;
    border: 0.922508px solid #9f9f9f;
    border-radius: 2.76752px;
  }

  &__text::placeholder {
    color: $color-grey-scale2;
    @include body1;
  }

  &__select-placeholder {
    display: none;
  }

  &__select:invalid {
    color: $color-grey-scale2;
  }
}