.modal-result-content {    
    text-align: center;
    &__head{              
        display: flex;
        background-color: $color-g1;
        color : $color-g2;
        @include title2;
        border-radius: 100px;
        margin-bottom: 0.27rem;
        &__column{
            margin: 0.44rem 0;
            width: 16%;
            &__3{
                margin: 0.44rem 0;
                width: 36%;
            }
        }
    }
    &__body{
        border : 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 16px;
        @include subhead3;
        color: $color-title;
        &__tr{                     
            display: flex;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);          
            &__column{              
                margin: 0.44rem 0;
                width:16%;
                &__3{
                    margin: 0.44rem 0;
                    width:36%;
                }
            }
        }
        &__tr:last-child{border-bottom:0px}    
    }
}
