$color-primary: #0b4093;
$color-secondary: #002968;
$color-point_blue: #3b61ff;
$color-point_yellow: #fff38b;
$color-title: #2f2f2f;
$color-grey-scale1: #353535;
$color-grey-scale2: #cfcfcf;
$color-grey-scale3: #e5e5e5;
$color-grey-scale4: #9f9f9f;
$color-grey-scale5: #f5f5f5;
$color-g1: #e7ebff;
$color-g2: #7590ff;
$color-g3: #ffc8c8;
$color-g4: #ff6d6d;
$color-error: #ff1111;

@import './normalize.scss';
@import './responsive.scss';
@import './typography.scss';
@import './components/header/header.style.scss';
@import './app.scss';
@import './components/modal-loading/modal-loading.style.scss';
@import './components/file-upload-content/file-upload-content.style.scss';
@import './components/input-group/input-group.style.scss';
@import './components/file-upload-guide/file-upload.style.scss';
@import './components/file-upload-box/file-upload-box.style.scss';
@import './components/GNB/GNB.style.scss';
@import './components/button/button.style.scss';
@import './components/main-title/main-title.style.scss';
@import './components/modal/modal.style.scss';
@import './components/category-card/category-card.style.scss';
@import './routers/main-page/main-page.style.scss';
@import './routers/tutorial-page/tutorial-page.style.scss';
@import './components/pie-chart/pie-chart.style.scss';
@import './components/modal-result-header/modal-result-header.style.scss';
@import './components/modal-result-content/modal-result-content.style.scss';
@import './components/modal-elective-lecture/modal-elective-lecture.style.scss';
@import './routers/result-page/result-page.style.scss';
@import './components/category-info/category-info.style.scss';
@import './components/result-complete-content/result-complete-content.style.scss';
@import './components/mypage/mypage.style.scss';
@import './components/modal-error-content/modal-error-content.style.scss';
@import './components/modal-error/modal-error.style.scss';
@import './components/mobile-category/mobile-category.style.scss';
@import './components/modal-agreement/modal-agreement.style.scss';
@import './components/modal-header/modal-header.style.scss';
@import './components/sign-in-form/sign-in-form.style.scss';
@import './components/sign-up-form/sign-up-form.style.scss';
@import './routers/sign-in-page/sign-in-page.style.scss';
@import './routers/sign-up-page/sign-up-page.style.scss';
@import './routers/file-upload-page/file-upload-page.style.scss';
@import './components/guide-tutorial/guide-tutorial.style.scss';
@import './components/guide-fuction/guide-fuction.style.scss';
@import './components/img-explain/img-explain.style.scss';
@import './routers/mypage-page/mypage-page.style.scss';
@import './components/my-info/my-info.style.scss';
@import './components/info-logout/info-logout.style.scss';
@import './components/mobile-navigate/mobile-navigate.style.scss';
@import './components/lecture-table/lecture-table.style.scss';
@import './components/taken-lecture/taken-lecture.style.scss';
@import './components/lecture-table/lecture-table.style.scss';
@import './components/taken-lecture-list/taken-lecture-list.style.scss';
@import './components/lecture-table-header/lecture-table-header.style.scss';
@import './components/lecture-table-list/lecture-table-list.style.scss';
@import './components/taken-lecture-list-header/taken-lecture-list-header.style.scss';
@import './components/loading/loading.style.scss';
@import './components/search-lecture-table/search-lecture-table.style.scss';
@import './components/search-lecture-bar/search-lecture-bar.style.scss';
@import './components/search-lecture-table-list/search-lecture-table-list.style.scss';
@import './components/custom/custom.style.scss';
@import './components/mypage-body/mypage-body.style.scss';
@import './components/result-lecture-table-header/result-lecture-table-header.style.scss';
@import './components/result-lecture-table-list/result-lecture-table-list.style.scss';
@import './components/result-lecture-table/result-lecture-table.style.scss';
@import './components/modal-success/modal-success.style.scss';
@import './components/modal-success-content/modal-success-content.style.scss';
@import './components/info/info.style.scss';
@import './components/modal-notice/modal-notice.style.scss';
@import './components/credit/credit.style.scss';
@import './components/modal-secession/modal-secession.style.scss';
@import './components/find-id-form/find-id-form.style.scss';
@import './components/find-pw-form/find-pw-form.style.scss';
@import './routers/find-id-page/find-id-page.style.scss';
@import './routers/find-pw-page/find-pw-page.style.scss';
