$color-primary: #0B4093;
$color-secondary: #002968;
$color-point_blue: #3B61FF;
$color-point_yellow: #FFF38B;
$color-title: #2F2F2F;
$color-grey-scale1: #353535;
$color-grey-scale2: #CFCFCF;
$color-grey-scale3: #E5E5E5;
$color-grey-scale4: #9F9F9F;
$color-g1: #E7EBFF;
$color-g2: #7590FF;
$color-g3: #FFC8C8;
$color-g4: #FF6D6D;
$color-error: #FF1111;

@import './normalize.scss';
@import './responsive.scss';
@import './typography.scss';
@import './components/header/header.style.scss';
@import './app.scss';
@import './components/modal-loading/modal-loading.style.scss';
@import './components/file-upload-content/file-upload-content.style.scss';
@import './components/information-form/information-form.style.scss';
@import './components/input-group/input-group.style.scss';
@import './components/file-upload-guide/file-upload.style.scss';
@import './components/file-upload-box/file-upload-box.style.scss';
@import './components/GNB/GNB.style.scss';
@import './components/button/button.style.scss';
@import './components/main-title/main-title.style.scss';
@import './components/modal/modal.style.scss';
@import './components/category-card/category-card.style.scss';
@import './routers/main-page/main-page.style.scss';
@import './routers/tutorial-page/tutorial-page.style.scss';
@import './components/pie-chart/pie-chart.style.scss';
@import './components/modal-result-header/modal-result-header.style.scss';
@import './components/modal-result-content/modal-result-content.style.scss';
@import './components/modal-elective-lecture/modal-elective-lecture.style.scss';
@import './routers/result-page/result-page.style.scss';
@import './components/category-info/category-info.style.scss';
@import './components/result-complete-content/result-complete-content.style.scss';
@import './components/mypage/mypage.style.scss';
@import './components/modal-error-content/modal-error-content.style.scss';
@import './components/modal-error/modal-error.style.scss';
@import './components/mobile-category/mobile-category.style.scss';
@import './components/modal-agreement/modal-agreement.style.scss';
@import './components/modal-header/modal-header.style.scss';
@import './components/sign-in-form/sign-in-form.style.scss';
@import './components/sign-up-form/sign-up-form.style.scss';
@import './routers/sign-in-page/sign-in-page.style.scss';
@import './routers/sign-up-page/sign-up-page.style.scss';
@import './routers/file-upload-page/file-upload-page.style.scss';
@import './components/guide-tutorial/guide-tutorial.style.scss';
@import './components/guide-fuction/guide-fuction.style.scss';
@import './components/img-explain/img-explain.style.scss';
@import './routers/mypage-page/mypage-page.style.scss';
