$color-primary: #0B4093;

@font-face {
  font-family: vitro;
  src: url("../public/fonts/vitro-core.ttf") format("truetype");
}

@import './nomalize.scss';
@import './responsive.scss';
@import './components/header/header.style.scss';
@import './components/GNB/GNB.style.scss';
@import './routers/main-page/main-page.style.scss';
@import './routers/tutorial-page/tutorial-page.style.scss';